.tag-item {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.2rem;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    border-radius: 0.5rem;
    border: 1px solid rgba(var(--color-on-surface-rgb), 0.1);
    gap: .6rem;

    transition: all var(--quick-transition);
}

.tag-item img {
    height: 20px;
    margin-right: 5px;
    flex-shrink: 0;
}

.tag-name {
    font-weight: 500;
}

.tag-item:hover {
    transform: scale(1.05);
}

.tag-item:hover {
    background-color: rgba(var(--color-on-surface-rgb), 0.1);
    border-color: rgba(var(--color-on-surface-rgb), 0.3);
}

.collaborator-tag {
    display: inline-flex;
    align-items: center;
    padding: 8px;
    border: 1px solid rgba(var(--color-on-surface-rgb), 0.1);
    border-radius: 1rem;
    background-color: var(--color-surface);
    cursor: default; 
    position: relative;
    user-select: none;
    transition: all var(--quick-transition);
    gap: 8px; 
}

.collaborator-tag.clickable {
    cursor: pointer; 
}

.collaborator-tag.clickable:hover {
    background-color: var(--color-surface-elevated);
    border: 1px solid rgba(var(--color-on-surface-rgb), 0.3);
}

.collaborator-avatar {
    width: 32px;
    height: 32px;
    border-radius: calc(1rem - 8px);
    object-fit: cover;
}

.collaborator-name {
    font-weight: bold;
    color: var(--color-on-surface);
}

.dropdown-indicator {
    margin-left: 5px;
    font-size: --text-caption;
    color: var(--color-on-surface);
}

.collaborator-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    background-color: var(--color-on-surface);
    border: 1px solid rgba(var(--color-on-surface-rgb), 0.1);
    border-radius: 8px;
    z-index: 10; 
    min-width: 120px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.dropdown-link {
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: all var(--quick-transition);
}

.dropdown-link:hover {
  background-color: rgba(var(--color-primary-rgb), 0.1);
}

/* Bullet Tag (Status) */
.bulletTag {
    display: flex;
    align-items: center;
    gap: 0.3em;
    padding: 0.2rem 0.5rem;
    border: 1px solid rgba(var(--color-on-surface-rgb), .1);
    width: fit-content;
    border-radius: 0.375rem;
    font-size: 0.85rem;
}

.bulletTag span {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: rgba(var(--color-on-surface-rgb), .6);
    margin-right: .7em;
}

.bulletTag[data-type="Completed"] {
    color: rgba(var(--color-green-rgb), .6);
    border-color: rgba(var(--color-green-rgb), .3);
    background-color: rgba(var(--color-green-rgb), .05);
}

.bulletTag[data-type="Completed"] span {
    background-color: rgb(var(--color-green-rgb));
}

.bulletTag[data-type="Planned"] {
    color: rgba(var(--color-on-surface-rgb), .6);
    border-color: rgba(var(--color-on-surface-rgb), .3);
    background-color: rgba(var(--color-on-surface-rgb), .05);
}

.bulletTag[data-type="Planned"] span {
    background-color: rgb(var(--color-blue-rgb));
}

.bulletTag[data-type="In Progress"] {
    color: rgba(var(--color-yellow-rgb), .6);
    border-color: rgba(var(--color-yellow-rgb), .3);
    background-color: rgba(var(---color-yellow-rgb), .05);
}

.bulletTag[data-type="In Progress"] span {
    background-color: rgb(var(--color-yellow-rgb));
}