.tag-item {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.2rem;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    border-radius: 0.5rem;
    border: 1px solid rgba(var(--color-on-surface-rgb), 0.2);
    gap: .6rem;

    transition: all var(--quick-transition);
}

.tag-item img {
    height: 20px;
    margin-right: 5px;
    flex-shrink: 0;
}

.tag-name {
    font-weight: 500;
}

.tag-item:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    transform: scale(1.1);
}

.tag-item[data-type="language"]:hover {
    background-color: rgba(var(--color-primary-rgb), 0.1);
    border-color: rgba(var(--color-primary-rgb), 0.6);
}

.tag-item[data-type="tool"]:hover {
    background-color: rgba(var(--color-on-surface-rgb), 0.1);
    border-color: rgba(var(--color-on-surface-rgb), 0.6);
}

/* Collab Tag  */

.collaborator-tag {
    display: inline-flex;
    align-items: center;
    padding: 8px;
    border: 1px solid rgba(var(--color-on-surface-rgb), 0.1);
    border-radius: 1rem;
    background-color: var(--color-surface);
    cursor: default; 
    position: relative;
    user-select: none;
    transition: background-color 0.2s ease;
    gap: 8px; 
}

.collaborator-tag.clickable {
    cursor: pointer; 
}

.collaborator-tag.clickable:hover {
    background-color: var(--color-surface-elevated);
}

.collaborator-avatar {
    width: 32px;
    height: 32px;
    border-radius: calc(1rem - 8px);
    object-fit: cover;
}

.collaborator-name {
    font-weight: bold;
    color: var(--color-on-surface);
}

.dropdown-indicator {
    margin-left: 5px;
    font-size: --text-caption;
    color: var(--color-on-surface);
}

.collaborator-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    background-color: var(--color-on-surface);
    border: 1px solid rgba(var(--color-on-surface-rgb), 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(var(--color-background), 0.1);
    z-index: 10; 
    min-width: 120px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.dropdown-link {
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease;
}

.dropdown-link:hover {
  background-color: rgba(var(--color-primary-rgb), 0.1);
}