.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    transition: var(--quick-transition);
    color: var(--text-high-emphasis);
    text-decoration: none;
}
.social-button::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--color-primary);
    transition: var(--quick-transition);
}
.social-button:hover::after {
    width: 100%;
    left: 0;
}
.social-button:hover {
    transform: translateY(-2px) scale(1.05);
    color: var(--color-primary);
}

.regular-button iconify-icon {
    font-size: 20px;
}

.line {
    display: block;
}

@media (max-width: 767px) {
    .social-button {
        font-size: 1.3rem;
    }
    .regular-button iconify-icon {
        font-size: 16px;
    }
    .line {
        display: none;
    }
}
