.hero-section {
    gap: 1.5rem;
    text-align: center;
}

.role {
    color: var(--color-primary);
    min-height: clamp(1.75rem, 4.5vw, 2.5rem);
    text-align: center; 
}

.auto-type {
    display: inline-block; 
    min-width: 25rem; 
    white-space: nowrap;
}

.social-list {
    width: fit-content;
    display: flex;
    gap: 1.125rem;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
    transition: var(--quick-transition);
    color: var(--text-high-emphasis);
    text-decoration: none;
}
.social-button::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--color-primary);
    transition: var(--quick-transition);
}
.social-button:hover::after {
    width: 100%;
    left: 0;
}
.social-button:hover {
    transform: translateY(-2px) scale(1.05);
    color: var(--color-primary);
}
@media (min-width: 768px) {
    .hero-section {
        gap: 1.875rem;
    }
    .social-button {
        font-size: 1.5rem;
    }
    .regular-button iconify-icon {
        font-size: 20px;
    }
    .line {
        display: block;
    }
}
@media (min-width: 1024px) {
    .hero-section {
        gap: 2rem;
    }
}