:root {
    --header-padding-y: 1rem;
    --header-padding-x: 2rem;
    --header-padding-y-md: 1.5rem;
    --header-padding-x-md: 4rem;
    --header-padding-y-lg: 2rem;
    --header-padding-x-lg: 6rem;
    
    --section-padding-y: 4rem;
    --section-padding-x: 1rem;
    --section-padding-y-md: 6rem;
    --section-padding-x-md: 2rem;
    --section-padding-y-lg: 8rem;
    --section-padding-x-lg: 2rem;
    --footer-padding-y: 2rem;
    --footer-padding-x: 2rem;
    --footer-padding-y-md: 2.5rem;
    --footer-padding-x-md: 4rem;

    --md-surface-base: #121212;
    --md-background: #121212;
    --md-surface-elevated-1dp: #1D1D1D;
    --md-surface-elevated-2dp: #212121;
    --md-surface-elevated-3dp: #242424;
    --md-surface-elevated-4dp: #272727;
    --md-surface-elevated-6dp: #2C2C2C;
    --md-surface-elevated-8dp: #2F2F2F;
    --md-surface-elevated-12dp: #353535;
    --md-surface-elevated-16dp: #383838;
    --md-surface-elevated-24dp: #424242;
    --color-secondary-bg: var(--md-surface-elevated-1dp);

    --text-primary: rgba(255, 255, 255, 0.87);
    --text-secondary: rgba(255, 255, 255, 0.60);
    --text-heading: rgba(255, 255, 255, 0.87);
    --text-disabled: rgba(255, 255, 255, 0.38);
    --button-default: rgba(255, 255, 255, 0.12);
    --button-hover: rgba(255, 255, 255, 0.24);
    --button-active: rgba(255, 255, 255, 0.36);
    
    --accent-red: #D50000;
    --accent-dark-red: #B71C1C;
    --accent-light-red: #E57373;
    --color-accent-red-rgb: 213, 0, 0;
    --accent-dark-specific-red: #B00020;
    --accent-dark-specific-red-light: #CC3333;
    --accent-dark-specific-red-dark: #800010;

    --error-color: #B00020;

    --border-color: rgba(255, 255, 255, 0.12);

    --color-glass-border: rgba(235, 235, 235, 0.06);
    --glass-blur: blur(1rem);
    --glass-opacity: 0.15;
    --color-glass-bg: rgba(18, 18, 18, 0.7);

    --glow-subtle: 0 0 10px rgba(213, 0, 0, 0.15);
    --glow-text-subtle: 0 0 6px rgba(229, 115, 115, 0.3);
    --glow-button-hover: 0 0 25px rgba(213, 0, 0, 0.3);

    --shadow-subtle-red: 0 2px 10px rgba(213, 0, 0, 0.08);
    --text-heading-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    --gentle-transition: 0.8s cubic-bezier(0.47, 0, 0.23, 1.38);
    --quick-transition: 0.3s ease-in-out;
}